.slackDisplayImage {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .heading {
  font-size: x-large;
  font-weight: 700;
  font-family: "Times";
} */
.display {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid blue;
}
